language: rust

rust:
- stable
- nightly

os:
- linux
- osx
- windows

stages:
- check
- test

addons:
  apt:
    packages:
      - libssl-dev

jobs:
  include:
  - name: fmt
    stage: check
    rust: stable
    os: linux
    install:
    - rustup component add rustfmt
    script:
    - cargo fmt --all -- --check

  - name: clippy
    stage: check
    rust: stable
    os: linux
    install:
    - rustup component add clippy
    script:
    - cargo clippy --all-targets -- -D warnings

  - name: coverage
    stage: check
    rust: nightly
    os: linux
    install:
    - RUSTFLAGS="--cfg procmacro2_semver_exempt" cargo +nightly install cargo-tarpaulin
    script:
    - cargo +nightly tarpaulin -v --all-features --out Xml
    after_success:
    - bash <(curl -s https://codecov.io/bash)

  - name: doc
    stage: check
    rust: nightly
    os: linux
    script:
    - cargo +nightly doc --all-features